:root {
    font-size: 18px;
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-lightgray: hsl(214, 31%, 85%)
}

img {
    max-width: 100%;
}

/* GENERICI */

input, button {
    font-family: inherit;
    font-size: .8rem;
}


/* LAYOUT DI BASE */

body {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "nav nav"
    "aside cat"
    "aside main";
    grid-template-columns: 80px 1fr;
    grid-template-rows: 69px 60px 1fr;
}

.nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 1px solid var(--color-lightgray);
}

aside {
    grid-area: aside;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--color-lightgray);
}

.categories {
    grid-area: cat;
    overflow: auto;
}

main {
    grid-area: main;
    background-color: red;
    overflow: auto;
}

/*_____________________________________________________________*/

/* NAV */

.left-nav {
    display: flex;
    gap: 1.5rem;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--color-lightgray);
    border-radius: 10px;
    width: 35%;
    height: 35px;
    
}

.search>input {
    border: none;
}

.search>input::placeholder {
    color: hsl(0, 0%, 0%);
    padding-left: 1rem;
}

.search-icon>img {
    height: 20px;
    padding-right: 1rem;
}

.sign-in {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 1rem;
}

.sign-up {
    background-color: transparent;
    outline: none;
    border: 2px solid hsl(92, 57%, 48%);
    padding: .6rem 1rem;
    border-radius: 30px;
}
/*_____________________________________________________________*/

/* ASIDE */

/* Menu */

.menu {
    margin-top: 1rem;
    border-bottom: 1px solid var(--color-lightgray);
    width: 80%;
    font-size: .6rem;
}

.menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    text-align: center;
}

.menu-items:last-child {
    margin-bottom: 1rem;
}

/* Featured */

.featured {
    font-size: .6rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--color-lightgray);
    width: 80%;
}

.featured-container {
    margin-block: 1rem;
}

.profile-featured-container {
    margin: .5rem;
}

.profile-featured-container>img {
    border-radius: 50%;
}

.profile-featured-container>img.live {
    border: 2px solid red;
}

/* Theme */

.theme {
    width: 80%;
    font-size: .6rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.theme-items>p {
    margin-top: .5rem;
}

/*_____________________________________________________________*/

/* NAV CATEGORIES*/

.categories {
    font-size: .8rem;
    display: flex;
    align-items: center;
    gap: .3rem;
    margin-left: 1.6rem;
}

.categories>div {
    padding: .4rem .8rem;
    text-wrap: nowrap;
    background-color: hsl(220, 25%, 95%);
    border-radius: 20px;
}

.categories .pink-cat {
    background-color: hsl(344, 85%, 50%);
    color: white;
}

.categories .blue-cat {
    background-color: hsl(240, 100%, 50%);
}

.categories .red-cat {
    background-color: hsl(356, 100%, 39%);
}

/*_____________________________________________________________*/



/* MAIN */



/*_____________________________________________________________*/

/* MEDIA QUERIES */

@media (max-width: 960px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "nav nav"
        "cat cat"
        "main main";
    }
    .tablet-hide {
        display: none;
    }
}